* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(8, 8, 8);
}

.container {
    /* background-color: aqua; */
    max-width: 335px;
    width: 100%;
    /* border-radius: 20px; */
    /* overflow: hidden; */
}
#input {
    height: 95px;
    background-color: rgb(236, 238, 247);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2px 20px;
}
input[type="text"] {
    /* background-color: black;
    background-color: white; */
    
    background-color: rgb(63, 202, 167);
    height: 45px;
    font-size: 25px;
}
#buttons {
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
}
button {
    height: 80px;
    /* outline: 4px solid white; */
    background-color: rgb(8, 209, 35);
    color: rgb(7, 7, 7);
    width: 40px;
    padding: 25px;
    font-size: 20px;
    appearance: none;
    outline: none;
    flex-basis: 25%;
    border: 3px solid rgb(0, 0, 0);
}

#display {
    outline: none;
    border: none;
    text-align: right;
    padding: 4px;
}


.yellow {
    background-color: rgb(4, 252, 144);
    color: rgb(10, 10, 10);
}
.violet {
    background-color: rgb(13, 241, 173);
}